<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/Style.css" rel="stylesheet">
	<script src="/treeview.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navigation">
		<a class="MItem" href="/"><img src="icon.svg"></img></a>
		<a class="MItem" href="/">Home</a>
		<a class="MItem" href="/caseses/create">New Case</a>
		<a class="MItem" href="/groups/create">New Group</a>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-error"><%= flash[:error] %>
      <% end %> 
      <%= yield %>
    </div>
  </body>
</html>