<html>
<head>
<script src="jQuery.js" type="text/javascript"></script>
</head>
<body>
	<div style="width:25%; height:50%;">
		<div><%= @cookies["name"]%></div>
		<Button onclick="Set()">Set</Button>
		<Button onclick="Get()">Get</Button>
	</div>
</body>
<script>
	function Set(){
		setCookie("name", "Paul", 5);
	}
	
	function Get(){
		console.debug(getCookie("name"));
	}
</script>