body{
	padding:0px;
	margin:0px;
	width:99%;
}

ul{
	list-style-image: url('Icons/dots.png');
}

li{
	list-style-image: url('Icons/dots.png');
}

.tag{
	background:#3F8FD2;
	color:#FFB540;
	cursor:pointer;
	padding:3px;
	padding-left:4px;
	padding-right:4px;
	margin:2px;
	display:inline;
	border:solid;
	border-width:1px;
	border-color:black;
}
.dropZone{
	width:100%;
	background:lightblue;
	text-align:center;
}

.tooltip{
	border:solid;
	border-width:1px;
}

.code{
	font:1em/160% Courier;
	border:dashed;
	border-width:1px;
	padding:5px;
	width:95%;
	background:#FFF8EF;
}

.button{
	background:#3F8FD2;
	color:#FFB540;
	padding:3px;
	padding-left:4px;
	padding-right:4px;
	margin:2px;
	cursor:pointer;
	display:inline;
	border:solid;
	border-width:1px;
	border-color:black;
}

.identifier{
	float:left;
	vertical-align:center;
	height:10px;
	width:10px;
	margin:5px;
}

.control{
	display:inline-block;
	width:15px;
	height:15px;
	float:rigth;
}

.result{
	width:15px;
	height:15px;
}

.tree_group{
	font-size:18px;
	font-style:bold;
}

.tree_case{
	font-size:18px;
	font-style:oblique;
}

.tree_active{
	border:solid;
	border-width:1px;
	border-color:blue;
	background:lightblue;
}

.MItem{
	font-size:24px;
	padding:5px;
	margin:5px;
	color:inherit;
}

.navigation{
	background:linear-gradient( #3F8FD2 0%, #0B5FA5 100%);
	color:#FFB540;
	width:100%;
	padding:5px;
}

.group{
	background:linear-gradient( #FF7940 0%, #FF4C00 100%);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom:1px;
	padding-left:10px;
	padding-right:10px;
	border:solid;
	border-width:1px;
	border-color:black;
}

.case{
	background:#D0E297;
	padding-bottom:4px;
	margin-bottom:4px;
	padding-left:10px;
	border:solid;
	border-width:1px;
	border-color:#648923;
	display:block;
}