ul{
	list-style-image: url('Icons/dots.png');
}

li{
	list-style-image: url('Icons/dots.png');
}

code{
	border:dashed;
	border-width:1px;
	padding:5px;
}

.button{
	background:#3F8FD2;
	color:#FFB540;
	padding:3px;
	cursor:pointer;
	display:inline;
	border:solid;
	border-width:1px;
	border-color:black;
}

.control{
	display:inline-block;
	width:15px;
	height:15px;
}

.result{
	width:15px;
	height:15px;
}

.tree_group{
	font-size:18px;
	font-style:bold;
}

.tree_case{
	font-size:18px;
	font-style:oblique;
}

.tree_active{
	border:solid;
	border-width:1px;
	border-color:blue;
	background:lightblue;
}

.MItem{
	font-size:24px;
	padding:5px;
	margin:5px;
	color:inherit;
}

.navigation{
	background:linear-gradient( #3F8FD2 0%, #0B5FA5 100%);
	color:#FFB540;
	width:100%;
}

.group{
	background:linear-gradient( #FF7940 0%, #FF4C00 100%);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom:1px;
	padding-left:10px;
	padding-right:10px;
	border:solid;
	border-width:1px;
	border-color:black;
}

.case{
	background:linear-gradient( #3F8FD2 0%, #0B5FA5 100%);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom:1px;
	padding-left:10px;
	border:solid;
	border-width:1px;
	border-color:black;
}

.myButton{
	color:#4A941F;
	cursor:pointer;
}