<h2>Create Case</h2>
<br/>
<div class="case" Style="padding:10px">
<form action="/cases" method="post" width="100%">
  <label for="post_name">Name:</label>
  <input id="post_name" name="post[name]" type="text" value="" size="77"/>
  <label for="post_title">Tags:</label>
  <input id="post_title" name="post[tags]" type="text" value="" size="77"/><br>
  <label for="post_body">Comment:</label><br>
  <textarea id="post_body" name="post[comment]" rows="5" Style="width:95%;"></textarea>
  <br/>
  <br/>
  <label for="post_input">Input-Variables:</label><br>
  <input id="post_input" name="post[input]" type="text" value="" size="150"/>
  <br/>
  <label for="post_body">Code:</label><br>
  <textarea id="post_code" name="post[code]" rows="10" Style="width:95%; display:none;"></textarea>
  <div id="editor" style="width:100%; height:280px;"></div>
  <br />
  <input type="submit" value="Create!"/>
</form> 
</div>
<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/ruby");
	editor.resize();
	
	editor.getSession().on('change', function(e) {
		document.getElementById("post_code").value = editor.getSession().getValue();
	});
</script>